.ScriptsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Scripts {
  display: flex;
  flex-direction: row;
}
.Superscript {
  align-self: flex-end;
}
.Subscript {
  align-self: flex-end;
}
