.Editor {
  margin-top: 100px;
  outline: 1px solid rebeccapurple;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 1000px; */
  width: 100%;
  /* width: 2000px; */
}
* {
  box-sizing: border-box;
  outline: 0px solid white !important;
  position: relative;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
